@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');

body{    
    background: #0984e3;
    font-family: "Baloo Paaji 2",cursive;    

}
header{
    color: #dfe6e9;
    font-size: 18pt;
    text-align: center;

}
section{

    background-color: #dfe6e9;    
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px #636e72 ;

}
div{
    text-align: center;
}
#imagem{
    max-width: 250px;
    max-height: 250px;
    
}


footer{
    color: #dfe6e9;
    font-size: 15pt;
    text-align: center;
    margin-top: 15px;
}